
  /* Main Content */
  .button-container {
    display: flex;
    justify-content: center;
    gap: 150px;
    margin: 24px 0;
  }

  .main-button {
    padding: 20px 30px;
    font-size: 1.3rem;
    font-family: Helvetica Neue;
    border: none;
    border-radius: 15px;
  background-color: #E8E8E8;
    color: black;

    transition: transform 0.3s ease, background-color 0.4s ease;
  }

  /* Suit Builder Button (Middle) */
  .suit-builder-button {
    font-size: 1.5rem;
    font-family: Helvetica Neue;
    background-color: #E8E8E8;

  }

  .suit-builder-button:hover {
    background-color: #A8A8A8;
    cursor: pointer;
  }

  /* Search Bar */
  .search-bar {
    display: flex;
    width: 100%;
    max-width: 50%;
    border: 1px solid #ddd;
    border-radius: 5px;
    justify-content: center;
    margin: 12px auto; /* Center the search bar horizontally */
}

  .search-bar input {
    flex-grow: 1;
    padding: 10px 15px;
    font-size: 1.5rem;
    font-family: Helvetica Neue;
    border: none;
    outline: none;
  }

  .search-bar button {
    padding: 10px 20px;
    font-size: 1rem;
    font-family: Helvetica Neue;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  .search-bar button:hover {
    background-color: #555;
  }

  .trending-styles {
    text-align: center;
    margin-top: 0rem;

    
  }
  
  .styles-container {
    display:flex;
    margin-top: 1rem;
    justify-content: center;
    gap: 3rem;
  }
  
  .style-item {
    cursor: pointer;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.4s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     border-radius: 15px;
  }
  
  .style-item img {
    width: auto;
    height: auto;
    border-radius: 8px;
  }
  
  .style-item p {
    margin-top: 0.5rem;
    font-size: 1.2rem;
  }

  .style-item:hover {
    transform: scale(1.05); /* Slight scale-up effect */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
  }