* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    caret-color: transparent;
}

body {
    font-family: Helvetica Neue;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.4;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Full viewport height */
    margin: 0; /* Remove default body margin */
}

main {
    flex: 1; /* Grow to fill available space */
}

/* Header and Footer */
header, footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
}

footer {
    margin-top: 2rem;
    font-size: 0.9rem;
}

/* Static Header */
.static-header {
    display: flex;
    align-items: center;
    padding: .05%;
    background-color: #333;
    color: #fff;
}

.static-header h1 {
    margin: 0;
    padding: .05%;
    font-size: 2.1rem;
    margin-left: 10px;
}

.static-header h1 a {

    color: #fff;
    font-size: 2.5rem;
    text-decoration: none;
}

.static-header h1 a:hover {
    color: #d3d3d3;
}

.static-header h2 {
    margin: 0;
    margin-left: 10px;
    text-align: center;
    flex: 1;
    font-size: 2.9rem;
}

.static-header h2 a {
    color: #fff;
    text-decoration: none;
}

.static-header h2 a:hover {
    color: #d3d3d3;
}

/* Heading Styles */
h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.5rem;
    margin-top: 0.7rem;

}

h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

/* Page Title */
.page-title {
    text-align: center;
    margin: .7rem 0;
}
header .logo {
    width: 45px;
    height: 55px;
}

/* Main Content (Fit Finder) */
main.fit-finder {
    display: flex;
    gap: 10px;
    width: 95%;
    margin: 0rem 2rem;
}

.suit-display {
    justify-content: flex-end;
    flex-grow: 1;
    text-align: center;
    margin: 1rem;
    width: 33%;
    padding: 1rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    order: 2;
}

body {
    transform: scale(1);
    transform-origin: 0 0; 
}

.suit-360-view {
    position: relative;
}
.tieImage {
    position: absolute;
    z-index: 3;
    top: auto;
    left: auto;
    transform: translate(-50%, 0%);
    height: 53%;
    width: auto;
    opacity: 1;
}

.jacketImage {
    position: absolute;
    z-index: 4;
    top: auto;
    left: auto;
    transform: translate(-50%, 0%);
    height: 53%;
    width: auto;
    opacity: 1;
}

.shirtImage {
    position: absolute;
    z-index: 1;
    top: auto;
    left: auto;
    transform: translate(-50%, 0%);
    height: 53%;
    width: auto;
    opacity: 1;
}

.pantsImage {
    position: absolute;
    z-index: 2;
    top: auto;
    left: auto;
    transform: translate(-50%, 0%);
    height: 53%;
    width: auto;
    opacity: 1;
}

.shoesImage {
    position: absolute;
    z-index: 1;
    top: auto;
    left: auto;
    transform: translate(-50%, 0%);
    height: 53%;
    width: auto;
    opacity: 1;
}

.custom-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}
.arrowButton {
    width: 50px;
    height: 20px;
}

/* Customization Section (Left) */
.customization {
    flex-grow: 1;
    width: 30%;
    margin: 1rem;
    padding: 1rem;
    background-color: #fff;
    border-radius: 8px;
    order: 1; /* Place this section to the left */
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 1rem;
}

/* Customization Options Layout */
.custom-option {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 2rem;

}

.item-label {
    display: block;
    margin-bottom: 0%;
    font-size: larger;
    font-weight: bold;
}
.item-toggle-button {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}
.item-toggle-button-image {
    height: 17px;
    width: auto;
}

.item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.item-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem; /* Add spacing between name and price */
    font-size: 1.2rem; /* Adjust size if needed */
}


.item-container label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

.arrowButton {
    width: 40px;
    height: 27px;
    cursor: pointer;
}

.scroll-instruction {
    font-size: 1rem;
    color: #666;
    text-align: center;
    margin: 0.5rem 0;
}

/* View Controls (Buttons) */
.view-controls button {
    margin: 0.3rem;
    padding: 0.5rem 1rem;
    background-color: #e3e5e7;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.view-controls button:hover {
    background-color: #aaadaf;
}

#size-selector {
    flex-grow: 1;
    max-width: 30%;
    margin: 1rem;
    padding: 1rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    order: 3;
    text-align: center;
}

/* Size Selector Section (Spacing between rows) */
.size-select-cot {
    margin-top: 2rem;
    margin-bottom: 2rem; /* Add spacing between each row of size options */
    text-align: center;
}

/* Size Finder Section (Right) */
.size-finder {
    flex-grow: 1;
    display: block !important;
    width: 30%;
    margin: 1rem;
    padding: 1rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    order: 3;
    text-align: center;
    

}
/* Container */
.toggle-switch {
    display: inline-flex;
    align-items: center;
    gap: 10px;
  }
  
  /* Hidden Checkbox */
  .toggle-input {
    display: none;
  }
  
  .toggle-label {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
    background-color: #b5d54d;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  /* Toggle Background for "ON"/"OFF" */
  .toggle-inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: orange;
    border-radius: 15px;
    transition: background-color 0.3s;
    opacity: 0;
  }
  
  /* Toggle Circle */
  .toggle-switch-circle {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 21px;
    height: 21px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
  }
  
  /* Checked State */
  .toggle-input:checked + .toggle-label .toggle-inner {
    opacity: 1;
  }
  
  .toggle-input:checked + .toggle-label .toggle-switch-circle {
    transform: translateX(25px);
  }
  
  .toggle-input:checked + .toggle-label {
    background-color: orange;
  }
  
  /* Unit Label */
  #unit-label {
    font-size: 16px;
    font-weight: bold;
  }
#size-form input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #cccccc;
    border-radius: 4px;
}
label {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.how-to-measure {
    color: #c2c7cc;
    margin-left: 0.5rem;
    position: relative;
    cursor: pointer;
}

.tooltip-content {
    display: none;
    position: absolute;
    top: 1.5rem;
    left: 0;
    width: 200px;
    padding: 1rem;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
    color: #333; 
    font-size: 0.9rem; 
}

.tooltip-content p {
    color: #555;
}

.tooltip-content img {
    width: 100%;
    margin-bottom: 0.5rem;
}

.how-to-measure:hover .tooltip-content {
    display: block;
}

.range-info {
    font-size: 0.85rem;
    color: red;
    margin-left: 10px;
}
.error-message-size {
    color: red;
    font-size: 0.9rem;
    margin-left: 10px;
}



button.calculateFit {
    background-color: #ff0000;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button.calculateFit:hover {
    background-color: #cc0000;
}

.size-select-btn {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    cursor: pointer;
  }
  
  .size-select-btn.selected {
    background-color: #333;
    color: white;
  }


/* Add to Cart Section */
.add-to-cart {
    display: flexbox;
    position: relative; /* Set to absolute for positioning relative to suit-display */
   margin-top: ;
    text-align: center;
    transform: translate(0%, 950%);
}

/* Add to Cart Button */
#add-to-cart {
    background-color:#4CAF50;
    color: #ffffff;
    font-family: Helvetica Neue;
    padding: 0.9rem 2rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.4rem;
    transition: background-color 0.3s ease;
}

#add-to-cart:hover {
    background-color:#3a8d3e;
}

/* Popup Notification */
.popup {
    position: fixed;
    bottom: 2rem;
    left: 1rem;
    background-color: #28a745;
    color: #fff;
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    opacity: 0; /* Start with opacity 0 */
    transition: opacity 0.5s ease-in-out;
}

.popup.show {
    
    opacity: 1; /* Fade in to opacity 1 */
}

.unimplemented-popup {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #da6a6a;
    color: #fff;
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    opacity: 0; /* Start with opacity 0 */
    transition: opacity 0.5s ease-in-out;
}
.unimplemented-popup.show {
    opacity: 1;
}

/* Shopping Cart Icon */
.cart-icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    transform: translateY(-12%);
    color: #fff;
}

.cart-icon:hover {
    color: #d3d3d3;
}

.login-icon {
    position: absolute;
    top: 1rem;
    right: 4rem; /* Adjust this value to place it next to the cart icon */
    font-size: 2rem;
    transform: translateY(-12%);
    color: #fff;
}

.login-icon:hover {
    color: #d3d3d3;
}