* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    caret-color: transparent;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

/* Header and Footer */
header, footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
}

footer {
    margin-top: 2rem;
    font-size: 0.9rem;
}

/* Static Header */
.static-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
    position: relative;
}

.static-header h1 {
    margin: 0;
}

.static-header h1 a {
    color: #fff;
    text-decoration: none;
}

.static-header h1 a:hover {
    color: #d3d3d3;
}

/* Heading Styles */
h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

/* Page Title */
.page-title {
    text-align: center;
    margin: 2rem 0;
}

/* Main Content (Fit Finder) */
main.fit-finder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem auto;
    max-width: 1200px;
}

/* Suit Display (Center) */
/* .suit-display {
    flex: 1;
    max-width: 40%;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    order: 2; /* Center this section 
    max-height: 950px;
    max-height: 950px;
} */

.suit-display {
    flex: 1; 
    max-width: 40%; 
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    order: 2;
}

body {
    transform: scale(1);
    transform-origin: 0 0; 
}

.suit-360-view {
    position: relative;
}
.tieImage {
    position: absolute;
    z-index: 3;
    top: auto;
    left: auto;
    transform: translate(-50%, 0%);
    height: 45%;
    width: auto;
    opacity: 1;
}

.jacketImage {
    position: absolute;
    z-index: 4;
    top: auto;
    left: auto;
    transform: translate(-50%, 0%);
    height: 45%;
    width: auto;
    opacity: 1;
}

.shirtImage {
    position: absolute;
    z-index: 1;
    top: auto;
    left: auto;
    transform: translate(-50%, 0%);
    height: 45%;
    width: auto;
    opacity: 1;
}

.pantsImage {
    position: absolute;
    z-index: 2;
    top: auto;
    left: auto;
    transform: translate(-50%, 0%);
    height: 45%;
    width: auto;
    opacity: 1;
}

.shoesImage {
    position: absolute;
    z-index: 1;
    top: auto;
    left: auto;
    transform: translate(-50%, 0%);
    height: 45%;
    width: auto;
    opacity: 1;
}

.custom-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* margin: 1rem 0; */
}
.arrowButton {
    width: 50px;
    height: 20px;
}

/* Customization Section (Left) */
.customization {
    flex: 1;
    max-width: 30%;
    margin: 1rem;
    padding: 1rem;
    background-color: #fff;
    border-radius: 8px;
    order: 1; /* Place this section to the left */
    text-align: center;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

/* Customization Options Layout */
.custom-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0%;
    margin-bottom: 1rem;
}

.item-label {
    display: block;
    margin-bottom: 0%;
    font-size: larger;
    font-weight: bold;
}
.item-toggle-button {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}
.item-toggle-button-image {
    height: 17px;
    width: auto;
}

.item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.item-container label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

.arrowButton {
    width: 40px;
    height: 27px;
    cursor: pointer;
}

.scroll-instruction {
    font-size: 1rem;
    color: #666;
    text-align: center;
    margin: 0.5rem 0;
}

/* View Controls (Buttons) */
.view-controls button {
    margin: 0.3rem;
    padding: 0.5rem 1rem;
    background-color: #0066cc;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.view-controls button:hover {
    background-color: #005bb5;
}

/* Size Finder Section (Right) */
#size-selector{
    flex: 1;
    max-width: 25%;
    margin: 1rem;
    padding: 1rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    order: 3; 
}
.size-finder {
    flex: 1;
    display: block !important;
    max-width: 30%;
    margin: 1rem;
    padding: 1rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    order: 3; /* Place this section to the right */
    text-align: center;
}

#size-form input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #cccccc;
    border-radius: 4px;
}
label {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.how-to-measure {
    color: #007bff;
    margin-left: 0.5rem;
    position: relative;
    cursor: pointer;
}

.tooltip-content {
    display: none;
    position: absolute;
    top: 1.5rem;
    left: 0;
    width: 200px;
    padding: 1rem;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
    color: #333; 
    font-size: 0.9rem; 
}

.tooltip-content p {
    color: #555;
}

.tooltip-content img {
    width: 100%;
    margin-bottom: 0.5rem;
}

.how-to-measure:hover .tooltip-content {
    display: block;
}

.range-info {
    font-size: 0.85rem;
    color: red;
    margin-left: 10px;
}
.error-message-size {
    color: red;
    font-size: 0.9rem;
    margin-left: 10px;
}

button.sizeOption {
    background-color: #28a745;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
}
button.sizeOption:hover{
    background-color: #94440f;
}
button.sizeOption.checked {
    background-color: #d76417;
}

button.sizeOption.checked::after {
    content: '✓';
    font-size: 1rem;
    color: #fff;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

button.calculateFit {
    background-color: #28a745;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button.calculateFit:hover {
    background-color: #218838;
}

.size-select-btn {
    background-color: lightgray;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    cursor: pointer;
  }
  
  .size-select-btn.selected {
    background-color: green;
    color: white;
  }


/* Add to Cart Section */
.add-to-cart {
    text-align: center;
    margin: 1rem 0;
    position: relative;
    /* top: -120px; */
}

#add-to-cart {
    background-color: #ff6600;
    color: #fff;
    padding: 1rem 2rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.2rem;
}

#add-to-cart:hover {
    background-color: #e65c00;
}

/* Popup Notification */
.popup {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    background-color: #28a745;
    color: #fff;
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    opacity: 0; /* Start with opacity 0 */
    transition: opacity 0.5s ease-in-out;
}

.popup.show {
    opacity: 1; /* Fade in to opacity 1 */
}

/* Shopping Cart Icon */
.cart-icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    color: #fff;
}

.cart-icon:hover {
    color: #d3d3d3;
}

/* Footer */
footer {
    margin-top: 2rem;
    font-size: 0.9rem;
}
/* Footer Ends */